<html>
    <head>
        <title>VMendes&ARJOM's Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Nosso Blog</a></h1>
        </div>

        <div>
            <p>published: 19.06.2018, 08:32</p>
            <h2><a href="">Essse já é bem o quinto post</a></h2>
            <p>Melhor dupla de dois é a nossa, cê é loko?</p>
        </div>

        <div>
            <p>published: 19.06.2018, 08:33</p>
            <h2><a href="">Esse já é bem o sexto post</a></h2>
            <p>Eae moral... Tudo certo, macho? Que que manda meu patrão?</p>
        </div>
    </body>
</html>
